.reviews__avatar-wrapper {
  position: relative;
}

.reviews__avatar-wrapper--pro::after {
  content: "";
  position: absolute;
  top: -3px;
  right: -8px;
  width: 21px;
  height: 20px;
  border-radius: 50%;
  background-color: #ff9000;
  background-image: url(../../public/img/star-white.svg);
  background-size: 15px 14px;
  background-position: center 2px;
  background-repeat: no-repeat;
}

.button-show-more {
  display: block;
  margin: 0 auto;
  margin-bottom: 22px;
  padding: 5px;
  padding-bottom: 3px;
  border: 2px solid transparent;
  box-sizing: border-box;
  color: #979797;
}

.button-show-more:hover{
  color: #4481c3;
}

.button-show-more:focus{
  border: 2px solid #c7c7c7;
}
